.gallery img {
    object-fit: cover;
    width: 25%;
    flex-wrap: wrap;
}

.gallery img:hover {
    box-shadow: 0 0 5px 0 #2F4858;
    transform: scale(1.1);
    cursor: pointer;
}

#descriptionWrapper {
    width: 50%;
    text-align: center;
}

#description {
    text-align: center;
    width: 50%;
}
